html {
  -ms-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
height: -webkit-fill-available;
font-size: 62.5%;
font-variant-ligatures: no-common-ligatures;
line-height: 1.15;
}
body {
  font-family: 'Zen Old Mincho', serif !important;
  font-size: 1.6rem !important;
  font-weight: 400;
  line-height: 1.6;
  word-wrap: break-word;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  background-color: #fff;
  color: #000;
  word-break: break-word;
  margin: 0;
  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }
}
picture {
  display: block;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

//ローディング
@keyframes loading {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #000, 1.8em -1.8em 0 0em rgba(0,0,0, 0.2), 2.5em 0em 0 0em rgba(0,0,0, 0.2), 1.75em 1.75em 0 0em rgba(0,0,0, 0.2), 0em 2.5em 0 0em rgba(0,0,0, 0.2), -1.8em 1.8em 0 0em rgba(0,0,0, 0.2), -2.6em 0em 0 0em rgba(0,0,0, 0.5), -1.8em -1.8em 0 0em rgba(0,0,0, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0,0,0, 0.7), 1.8em -1.8em 0 0em #000, 2.5em 0em 0 0em rgba(0,0,0, 0.2), 1.75em 1.75em 0 0em rgba(0,0,0, 0.2), 0em 2.5em 0 0em rgba(0,0,0, 0.2), -1.8em 1.8em 0 0em rgba(0,0,0, 0.2), -2.6em 0em 0 0em rgba(0,0,0, 0.2), -1.8em -1.8em 0 0em rgba(0,0,0, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(0,0,0, 0.5), 1.8em -1.8em 0 0em rgba(0,0,0, 0.7), 2.5em 0em 0 0em #000, 1.75em 1.75em 0 0em rgba(0,0,0, 0.2), 0em 2.5em 0 0em rgba(0,0,0, 0.2), -1.8em 1.8em 0 0em rgba(0,0,0, 0.2), -2.6em 0em 0 0em rgba(0,0,0, 0.2), -1.8em -1.8em 0 0em rgba(0,0,0, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0,0,0, 0.2), 1.8em -1.8em 0 0em rgba(0,0,0, 0.5), 2.5em 0em 0 0em rgba(0,0,0, 0.7), 1.75em 1.75em 0 0em #000, 0em 2.5em 0 0em rgba(0,0,0, 0.2), -1.8em 1.8em 0 0em rgba(0,0,0, 0.2), -2.6em 0em 0 0em rgba(0,0,0, 0.2), -1.8em -1.8em 0 0em rgba(0,0,0, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(0,0,0, 0.2), 1.8em -1.8em 0 0em rgba(0,0,0, 0.2), 2.5em 0em 0 0em rgba(0,0,0, 0.5), 1.75em 1.75em 0 0em rgba(0,0,0, 0.7), 0em 2.5em 0 0em #000, -1.8em 1.8em 0 0em rgba(0,0,0, 0.2), -2.6em 0em 0 0em rgba(0,0,0, 0.2), -1.8em -1.8em 0 0em rgba(0,0,0, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0,0,0, 0.2), 1.8em -1.8em 0 0em rgba(0,0,0, 0.2), 2.5em 0em 0 0em rgba(0,0,0, 0.2), 1.75em 1.75em 0 0em rgba(0,0,0, 0.5), 0em 2.5em 0 0em rgba(0,0,0, 0.7), -1.8em 1.8em 0 0em #000, -2.6em 0em 0 0em rgba(0,0,0, 0.2), -1.8em -1.8em 0 0em rgba(0,0,0, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(0,0,0, 0.2), 1.8em -1.8em 0 0em rgba(0,0,0, 0.2), 2.5em 0em 0 0em rgba(0,0,0, 0.2), 1.75em 1.75em 0 0em rgba(0,0,0, 0.2), 0em 2.5em 0 0em rgba(0,0,0, 0.5), -1.8em 1.8em 0 0em rgba(0,0,0, 0.7), -2.6em 0em 0 0em #000, -1.8em -1.8em 0 0em rgba(0,0,0, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0,0,0, 0.2), 1.8em -1.8em 0 0em rgba(0,0,0, 0.2), 2.5em 0em 0 0em rgba(0,0,0, 0.2), 1.75em 1.75em 0 0em rgba(0,0,0, 0.2), 0em 2.5em 0 0em rgba(0,0,0, 0.2), -1.8em 1.8em 0 0em rgba(0,0,0, 0.5), -2.6em 0em 0 0em rgba(0,0,0, 0.7), -1.8em -1.8em 0 0em #000;
  }
}
.home-loading {
  position: relative;
  height: 100vh;
  overflow: hidden;
  &__item {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 13px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    -webkit-animation: loading 1.1s infinite ease;
    animation: loading 1.1s infinite ease;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  &__text{
    position: absolute;
    top: calc(50% + 50px);
    left: 50%;
    color: #333;
    font-family: 'DM Serif Display', serif;
    font-size: 1.8rem;
    transform: translateX(-50%);
  }
}
//プロフィール
.profile {
  $this : &;
  background-color: #efe5e5;
  @media screen and (min-width: 768px) {
    margin: 0 auto;
    padding: 1em 30px 3em;
  }
  @media screen and (max-width: 767px) {
    margin: 0;
    padding: 15px;
  }
  h2{
    text-align: center;
    font-family: 'DM Serif Display', serif;
    margin: 0;
    font-size: 5.2rem;
    @media screen and (max-width: 767px) {
      position: relative;
      z-index: 2;
    }
  }
  h3{
    text-align: center;
    font-family: 'DM Serif Display', serif;
    margin: 2em 0 .5em;
    font-size: 3.2rem;
    @media screen and (max-width: 767px) {
      position: relative;
      z-index: 2;
    }
  }
  &__inner {
    margin-top: 1em;
    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: center;
      max-width: 1000px;
      margin: 0 auto;
    }
    @media screen and (max-width: 767px) {
      position: relative;
      z-index: 2;
    }
  }
  %profile-item {
    text-align: center;
    @media screen and (min-width: 768px) {
      width: calc((100% - 3em)/2);
    }
    @media screen and (max-width: 767px) {
      display: flex;
      width: 100%;
    }
  }
  &__item {
    &--groom {
      @extend %profile-item;
      #{$this}__body {
        @media screen and (max-width: 767px) {
          margin-left: 1em;
        }
      }
    }
    &--bride {
      @extend %profile-item;
      @media screen and (min-width: 768px) {
        margin-left: 3em;
      }
      @media screen and (max-width: 767px) {
        flex-direction: row-reverse;
      }
      #{$this}__body {
        @media screen and (max-width: 767px) {
          margin-right: 1em;
        }
      }
    }
  }
  &__head {
    @media screen and (min-width: 768px) {
    }
    @media screen and (max-width: 767px) {
      width: 55%;
    }
  }
  &__body {
    text-align: center;
    @media screen and (max-width: 767px) {
      flex: 1;
    }
  }
  &__table {
    max-width: 828px;
    width: 100%;
    margin: 0 auto;
    &__col {
      width: 50%;
    }
    tbody {
      th {
        text-align: center;
        padding: 5px;
        background-color: #504a4a;
        color: #fff;
        + th {
          border-left: 1px solid #fff;;
        }
      }
      td {
        text-align: center;
        padding: 5px;
        background-color: #fff;
        + td {
          border-left: 1px solid #504a4a;
        }
      }
    }
  }
}
//Q&A
%faq__answer {
  display: flex;
}
.faq {
  $this : &;
  + & {
    margin-top: 1em;
  }
  &__head {
    position: relative;
    z-index: 2;
    background-color: #d8ccb8;
    @media screen and (min-width: 768px) {
      padding: 10px;
    }
    @media screen and (max-width: 767px) {
      width: 70%;
      margin-left: -15px;
      padding: 10px 15px 10px 30px;
    }
  }
  &__body {
    position: relative;
    z-index: 1;
    background-color: rgba(255,255,255,.5);
    @media screen and (min-width: 768px) {
      padding: 30px;
    }
    @media screen and (max-width: 767px) {
      margin-top: -30px;
      padding: 45px 15px 15px;
    }
  }
  &__label {
    margin: 0;
    font-weight: bold;
  }
  &__title {
    margin: 0;
    font-size: 1.8rem;
  }
  &__answer{
    &--groom {
      @extend %faq__answer;
      #{$this}__image {
        margin-right: 10px;
      }
      #{$this}__text {
        margin-left: 10px;
        &::before {
          left: -10px;
          border-width: 5px 10px 5px 0;
          border-color: transparent #ffffff transparent transparent;
        }
      }
    }
    &--bride {
      @extend %faq__answer;
      justify-content: flex-start;
      flex-direction: row-reverse;
      margin-top: .5em;
      #{$this}__image {
        margin-left: 10px;
      }
      #{$this}__text {
        margin-right: 10px;
        &::before {
          right: -10px;
          border-width: 5px 0 5px 10px;
          border-color: transparent transparent transparent #ffffff;
        }
      }
      
    }
  }
  &__image {
    @media screen and (min-width: 768px) {
      width: 100px;
    }
    @media screen and (max-width: 767px) {
      width: 60px;
    }
  }
  &__text {
    position: relative;
    margin: 0;
    background-color: #fff;
    border-radius: 10px;
    @media screen and (min-width: 768px) {
      width: calc(100% - 110px - 130px);
      padding: 20px;
    }
    @media screen and (max-width: 767px) {
      width: calc(100% - 70px - 10px);
      padding: 10px;
    }
    &::before {
      position: absolute;
      top: calc(.7em + 10px);
      width: 0;
      height: 0;
      border-style: solid;
      content: "";
    }
  }
}