.home-back-ground {
  background-color: #ffffff;
}

.top-back-ground {
  background-image: url("../../resource/top-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
}

.top-back-ground-adjust {
  background-position: center;
}

.title {
  color: #001230;
}

.title-adjust {
  padding-top: 48%;
  font-size: 4.2rem;
}

.greeting-img {
  position: absolute;
  left: -30px;
  width: 110%;
}

.greeting-img-header {
  top: -100px;
}

.greeting-img-footer {
  bottom: -100px;
}

//  X=Small devices (landscape phones, 440px and up)
@media (min-width: 440px) {
  .greeting-img-header {
    top: -130px;
  }
  
  .greeting-img-footer {
    bottom: -130px;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .title-adjust {
    padding-top: 40%;
    font-size: 4.5rem;
  }

  .greeting-img {
    left: 0px;
    width: 100%;
  }

  .greeting-img-header {
    top: -140px;
  }
  
  .greeting-img-footer {
    bottom: -140px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
  .title-adjust {
    padding-top: 31%;
    font-size: 4.7rem;
  }

  .greeting-img-header {
    top: -160px;
  }
  
  .greeting-img-footer {
    bottom: -160px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
  .title-adjust {
    padding-top: 24%;
    font-size: 4.7rem;
  }

  .top-back-ground-adjust {
    background-position: bottom;
  }

  .greeting-img-header {
    top: -180px;
  }
  
  .greeting-img-footer {
    bottom: -180px;
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .title-adjust {
    padding-top: 13%;
    font-size: 5.1rem;
  }

  .greeting-img-header {
    top: -190px;
  }
  
  .greeting-img-footer {
    bottom: -190px;
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  .title-adjust {
    padding-top: 10%;
    font-size: 6rem;
  }

  .greeting-img-header {
    top: -250px;
  }
  
  .greeting-img-footer {
    bottom: -250px;
  }
}

.information-title {
  font-size: 2rem;
  color: #333;
}

.information-font {
  font-size: 1.1rem;
  color: #333;
}

.information-content {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 10px  rgb(0 0 0 / 20%);
}

.information-back-ground {
  background: linear-gradient(#ffffff, #b2f1f1, #137bdc);
}

.taxi-info {
  font-size: 1.1rem;
}

.signature {
  height: 1.7rem;
  border: none;
  margin: 0.5rem;
}