.square {
  width: 100%;
  &:not(.not-uploaded-image){
    object-fit: cover;
    aspect-ratio: 1 / 1;

  }
  &.not-uploaded-image {
    @media screen and (min-width: 768px) {
      height: 100%;
    }
    @media screen and (max-width: 767px) {
      height: 100% !important;
    }
  }
}

.video-duration {
  position: absolute;
  bottom: 2px;
  right: 2px;
  text-decoration: none;
  color: white;
}

.download-btn:disabled {
  opacity: 1 !important;
}