.square {
  object-fit: cover;
  width: 100%;
  aspect-ratio: 1 / 1;
}

.video-duration {
  position: absolute;
  bottom: 2px;
  right: 2px;
  text-decoration: none;
  color: white;
}

.download-btn:disabled {
  opacity: 1 !important;
}