.message-back-ground {
  background-image: url("./../../../resource/attendance-background.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.message-content {
  color: #333;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 10px  rgb(0 0 0 / 20%);
}