body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'YuMincho', sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cursor-pointer {
  cursor: pointer;
}

.my-7 {
  margin-top: 5rem!important;
  margin-bottom: 5rem!important;
}

.mt-6 {
  margin-top: 5rem!important;
}

.mt-7 {
  margin-top: 7rem!important;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .my-7 {
    margin-top: 7rem!important;
    margin-bottom: 7rem!important;
  }  
}