html {
  -ms-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
height: -webkit-fill-available;
font-size: 62.5%;
font-variant-ligatures: no-common-ligatures;
line-height: 1.15;
}
body {
  font-family: 'Zen Old Mincho', serif !important;
  font-size: 1.6rem !important;
  font-weight: 400;
  line-height: 1.6;
  word-wrap: break-word;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  background-color: #fff;
  color: #000;
  word-break: break-word;
  margin: 0;
  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cursor-pointer {
  cursor: pointer;
}

.my-7 {
  margin-top: 5rem!important;
  margin-bottom: 5rem!important;
}

.mt-6 {
  margin-top: 5rem!important;
}

.mt-7 {
  margin-top: 7rem!important;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .my-7 {
    margin-top: 7rem!important;
    margin-bottom: 7rem!important;
  }  
}